@keyframes zoomInAndOut {
  0% {
    transform: scale(1);
    box-shadow: 0;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 1.5rem rgba(#000, 0.2);
  }

  100% {
    transform: scale(1);
    box-shadow: 0;
    //   this feels comfortable
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 1.5rem rgba(#000, 0.2);
  }

  100% {
    transform: scale(1);
    box-shadow: 0;
    //   this feels comfortable
  }
}
